body{
    margin: 0 auto;
    padding: 20px;
	max-width: 1024px;
	width: 100%;
	box-sizing: border-box;
    font-size: 21px;
	color: #fff;
	background: black;
	font-family: sans-serif;
	line-height: 1.5;
}

h1{
	font-size: 36px;
	font-weight: 100;
	margin-bottom: 15px;
}

a{
	color: #fff;
}
header {
	text-align: center;
}
img {
	display: inline-block;
}

nav ul{
    margin: 0;
    padding: 0;
	display: inline-block;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
	margin: 30px;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
	font-size: 24px;
}
nav a:hover {
	background: white;
	color: black;
}

label{
	display: block;
	padding: 12px 12px 12px 0;
	line-height: 40px;
	font-size: 21px;
}
label:after, section:after {
  content: "";
  display: table;
  clear: both;
}
input{
	
    border: 2px solid ;
	width: 70%;
	float: right;
    padding: 12px;
    resize: vertical;
	font-size: 18px;
}

input[type=text]:focus {
    border: 3px solid #555;
	outline: none;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

button{
	background: black;
    border: 4px solid;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
	float: right;
    margin: 4px 10px;
    cursor: pointer;
	font-size: 21px;
}

